<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rates">
            <h2><span jhiTranslate="publicpmrApp.rates.detail.title">Rates</span> {{rates.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="publicpmrApp.rates.bankSystemName">Bank System Name</span></dt>
                <dd>
                    <span jhiTranslate="{{'publicpmrApp.BankName.' + rates.bankSystemName}}">{{rates.bankSystemName}}</span>
                </dd>
                <dt><span jhiTranslate="publicpmrApp.rates.banks">Banks</span></dt>
                <dd>
                    <div *ngIf="rates.banksId">
                        <a [routerLink]="['/banks', rates.banksId, 'view']">{{rates.banksId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="publicpmrApp.rates.curs">Curs</span></dt>
                <dd>
                    <span *ngFor="let curs of rates.curs; let last = last">
                        <a [routerLink]="['/curs', curs?.id, 'view' ]">{{curs.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rates', rates.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
