<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-rates-heading" jhiTranslate="publicpmrApp.rates.home.createOrEditLabel">Create or edit a Rates</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="publicpmrApp.rates.bankSystemName" for="field_bankSystemName">Bank System Name</label>
                    <select class="form-control" name="bankSystemName" formControlName="bankSystemName" id="field_bankSystemName">
                        <option value="PRB">{{'publicpmrApp.BankName.PRB' | translate}}</option>
                        <option value="AGR">{{'publicpmrApp.BankName.AGR' | translate}}</option>
                        <option value="SBR">{{'publicpmrApp.BankName.SBR' | translate}}</option>
                        <option value="EXIM">{{'publicpmrApp.BankName.EXIM' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('bankSystemName').invalid && (editForm.get('bankSystemName').dirty || editForm.get('bankSystemName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bankSystemName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="publicpmrApp.rates.bank" for="field_bank">Bank</label>
                    <select class="form-control" id="field_bank" name="bank" formControlName="bankId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="banksOption.id" *ngFor="let banksOption of banks; trackBy: trackBanksById">{{banksOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="publicpmrApp.rates.curs" for="field_curs">Curs</label>
                    <select class="form-control" id="field_curs" multiple name="curs" formControlName="curs">
                        <option [ngValue]="getSelected(editForm.get('curs').value, cursOption)" *ngFor="let cursOption of curs; trackBy: trackCursById">{{cursOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('curs').invalid && (editForm.get('curs').dirty || editForm.get('curs').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('curs').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
