<div>
    <h2 id="page-heading">
        <span jhiTranslate="publicpmrApp.banks.home.title">Banks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-banks" [routerLink]="['/banks/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="publicpmrApp.banks.home.createLabel">
            Create a new Banks
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="banks?.length === 0">
        <span jhiTranslate="publicpmrApp.banks.home.notFound">No banks found</span>
    </div>
    <div class="table-responsive" *ngIf="banks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="publicpmrApp.banks.title">Title</span></th>
            <th scope="col" ><span jhiTranslate="publicpmrApp.banks.systemName">System Name</span></th>
            <th scope="col" ><span jhiTranslate="publicpmrApp.banks.status">Status</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let banks of banks ;trackBy: trackId">
                <td><a [routerLink]="['/banks', banks.id, 'view' ]">{{banks.id}}</a></td>
                <td>{{banks.title}}</td>
                <td jhiTranslate="{{'publicpmrApp.BankName.' + banks.systemName}}">{{banks.systemName}}</td>
                <td>{{banks.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/banks', banks.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/banks', banks.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(banks)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
