<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exchange">
            <h2><span jhiTranslate="publicpmrApp.exchange.detail.title">Exchange</span> {{exchange.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="publicpmrApp.exchange.date">Date</span></dt>
                <dd>
                    <span>{{exchange.date}}</span>
                </dd>
                <dt><span jhiTranslate="publicpmrApp.exchange.rates">Rates</span></dt>
                <dd>
                    <span *ngFor="let rates of exchange.rates; let last = last">
                        <a [routerLink]="['/rates', rates?.id, 'view' ]">{{rates.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/exchange', exchange.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
