<div>
    <h2 id="page-heading">
        <span jhiTranslate="publicpmrApp.taxi.home.title">Taxis</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-taxi" [routerLink]="['/taxi/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="publicpmrApp.taxi.home.createLabel">
            Create a new Taxi
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="taxis?.length === 0">
        <span jhiTranslate="publicpmrApp.taxi.home.notFound">No taxis found</span>
    </div>
    <div class="table-responsive" *ngIf="taxis?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="title"><span jhiTranslate="publicpmrApp.taxi.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phone"><span jhiTranslate="publicpmrApp.taxi.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="active"><span jhiTranslate="publicpmrApp.taxi.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let taxi of taxis ;trackBy: trackId">
                <td><a [routerLink]="['/taxi', taxi.id, 'view' ]">{{taxi.id}}</a></td>
                <td>{{taxi.title}}</td>
                <td>{{taxi.phone}}</td>
                <td>{{taxi.active}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/taxi', taxi.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/taxi', taxi.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(taxi)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
